.clients {
    height: 465px;
    background-color: white;
}

.clients__container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

.clients__text-wrapper_marginTop70 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 775px;
    height: 100%;
    margin-top: 70px;

    hr {
        width: 150px;
        border: none;
        border-top: 1px solid #a5a8a9;
        color: #a5a8a9;
    }
}

.clients__text-heading {
    font-family: Lato;
    font-size: 44px;
    font-weight: 300;
    margin-bottom: 25px;
}

.clients__text-desc {
    font-family: "Open Sans";
    font-size: 14px;
    color: #606060;
    text-align: center;
    line-height: 1.6em;
    margin-top: 20px;
    padding: 0 30px;
}

.clients__logos-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 70px 0 95px;

    .clients__arrow {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        svg {
            fill: black;
            transition: all 0.2s linear;
            &:hover {
                fill: #2980b9;
            }
        }
    }
}
