$Background: url('./images/background/HomePage_Content_Background.png');

.info-box {
    height: 435px;
    background-image: $Background;
}

.info-box__container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

.info-box__text-wrapper_marginTop50 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

    hr {
        width: 150px;
        border: none;
        border-top: 1px solid #a5a8a9;
        color: #a5a8a9;
    }
}

.info-box__text-heading {
    font-family: Lato;
    font-size: 44px;
    font-weight: 300;
    margin-bottom: 20px;
}

.info-box__text-desc {
    font-family: "Open Sans";
    font-size: 14px;
    color: #606060;
    text-align: center;
    line-height: 1.6em;
    padding: 0 90px;
    margin-top: 25px;
}

.info-box__icons-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 90px 0 60px;
}

.info-box__icon-href {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-family: 'Open Sans';
    color: black;
    fill: black;
    fill-rule: evenodd;
    text-decoration: none;
    transition: all 0.2s linear;
    margin: 0 30px;

    svg {
        margin-bottom: 25px;
    }

    &:hover,
    &:active,
    &:focus {
        transform: scale(1.2);
        color: #2980b9;
        fill: #2980b9;
        outline: none;
    }
}

.info-box__icon-href_active {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2980b9;
    fill: #2980b9;
    fill-rule: evenodd;
    text-decoration: none;
    transform: scale(1.2);
}
