$Background: url('./images/background/HomePage_Content_Background.png');

.content__info-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 435px;
    background-image: $Background;
    padding: 0 150px;
}

.content__text-wrapper_marginTop50 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 775px;
    height: 100%;
    margin-top: 50px;

    hr {
        width: 150px;
        height: 1px;
        color: #a5a8a9;
    }
}

.content__text-heading {
    font-family: Lato;
    font-size: 44px;
    font-weight: 300;
}

.content__text-desc {
    color: #606060;
    text-align: center;
    line-height: 1.5em;
}

.info-box__icons-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 85px 0 65px;
}

.info-box__icon-href {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-family: 'Open Sans';
    color: black;
    fill: black;
    fill-rule: evenodd;
    text-decoration: none;
    transition: all 0.2s linear;
    margin: 0 30px;

    svg {
        margin-bottom: 25px;
    }

    &:hover,
    &:active,
    &:focus {
        transform: scale(1.2);
        color: #2980b9;
        fill: #2980b9;
        outline: none;
    }
}

.info-box__icon-href_active {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2980b9;
    fill: #2980b9;
    fill-rule: evenodd;
    text-decoration: none;
    transform: scale(1.2);
}
