.contacts {
    background-color: white;
}

.contacts__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 0 80px;
}

.contacts__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 155px;

    hr {
        width: 150px;
        border: none;
        border-top: 1px solid #a5a8a9;
        color: #a5a8a9;
    }
}

.contacts__text-heading {
    font-family: Lato;
    font-size: 44px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contacts__text-desc {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #606060;
    text-align: center;
    line-height: 1.6em;
    margin-top: 25px;
    padding: 0 100px;
}

.contacts__grid {
    display: grid;
    grid-template-columns: 460px 460px;
    grid-column-gap: 40px;
    margin-top: 55px;
}

.contacts__element {
    display: flex;
    flex-direction: column;
}

.element__text-heading {
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.element__text-desc {
    font-family: 'Open Sans';
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.7em;
    color: #606060;
}

.element__search-form {
    display: flex;
    flex-direction: column;
}

.search-form__name {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    background-color: #edf1f2;
    border: none;
    color: black;
    font-family: 'Open Sans';
    font-size: 14px;
    padding-left: 10px;
    margin-bottom: 10px;
    outline: none;
}

.search-form__email {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    background-color: #edf1f2;
    border: none;
    color: black;
    font-family: 'Open Sans';
    font-size: 14px;
    padding-left: 10px;
    margin-bottom: 10px;
    outline: none;
}

.search-form__message {
    box-sizing: border-box;
    width: 100%;
    height: 220px;
    background-color: #edf1f2;
    border: none;
    color: black;
    font-family: 'Open Sans';
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    outline: none;
    resize: none;
}

.search-form__btn-submit {
    height: 40px;
    width: 230px;
    border: none;
    outline: none;
    text-align: center;
    color: white;
    background-color: #2980b9;
}

.address__text {
    font-family: "Open Sans";
    font-size: 14px;
    margin-bottom: 3px;
    color: #606060;
}

.address__map {
    margin-top: 20px;
    width: 100%;
    height: 190px;
}
