.portfolio {
    width: 100%;
    background-color: white;
}

.portfolio__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
    margin: 0 auto;
    padding: 50px 0 20px;
}

.portfolio__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 155px;

    hr {
        width: 150px;
        border: none;
        border-top: 1px solid #a5a8a9;
        color: #a5a8a9;
    }
}

.portfolio__text-heading {
    font-family: Lato;
    font-size: 44px;
    font-weight: 300;
    margin-bottom: 20px;
}

.portfolio__text-desc {
    font-family: "Open Sans";
    font-size: 14px;
    color: #606060;
    text-align: center;
    line-height: 1.6em;
    margin-top: 25px;
    padding: 0 90px;
}

.portfolio__grid {
    box-sizing: border-box;
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: 460px 460px;
    background-color: white;
    margin-top: 60px;
}

.portfolio__element {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .portfolio__element-image {
        margin-bottom: 15px;

        img {
            width: 100%;
        }
    }

    .portfolio__element-info {
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }
}