.banner {
    height: 605px;
    background-color: #2f3030;
}

.banner__container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    color: white;

    .banner__container-text {
        text-align: center;
        margin-top: 140px;

        & > p {
            margin: 17px 0;
            font-size: 16px;
        }

        h1 {
            font-size: 50px;
            margin: 15px 0;
        }

        .banner__container-text-dots {
            font-weight: 200;
            &:after,
            &:before {
                content: '\2022';
                font-size: 18px;
                margin: 0 12px;
                color: #979898;
            }
        }
    }

    .banner__container-text-lines {
        font-weight: 200;
        vertical-align: middle;
    }

    .svg-lines {
        width: 100px;
        margin: 0 20px;
        padding: 4px 0;
        height: 4px;
    }

    .banner__href {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 60px 0 180px;
        height: 50px;
        width: 240px;
        border: 1px solid #979898;
        color: white;
        background: transparent;
        word-spacing: 1px;
        font: 100 14px Lato;
        text-decoration: none;

        &:hover,
        &:active,
        &:visited,
        &:focus {
            color: white;
        }
    }
}
