.footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0 150px;
    background-color: black;
    flex-shrink: 0;
}

.footer__contacts {
    a {
        margin-right: 20px;
    }
}

.footer__credits {
    font-family: 'Open Sans';
    font-size: 12px;
    color: #606060;
    text-align: right;
}
