.homepage-nav_light {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 110px;
    padding: 0 150px;
    background: white;
}

.homepage-nav_dark {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 110px;
    padding: 0 150px;
    background: black;
}

.wds-logo_light-scheme {
    font-size: 40px;
    font-weight: 900;
    margin: 0 70px;
    color: black;
}

.wds-logo_dark-scheme {
    font-size: 40px;
    font-weight: 900;
    margin: 0 70px;
    color: white;
}

.homepage-nav-wrapper {
    display: flex;
    flex-direction: row;
    width: 365px;
    justify-content: space-between;
}

.homepage-nav-href {
    font-family: 'Open Sans';
    font-size: 14px;
    text-decoration: none;
    color: #7f8c8d;
}
