.homepage-nav_light {
    width: 100%;
    height: 110px;
    background-color: white;
}

.homepage-nav_dark {
    width: 100%;
    height: 80px;
    background-color: black;
}

.homepage-nav__container {
    box-sizing: border-box;
    max-width: 960px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.homepage-nav__wds-logo_lightScheme {
    font-size: 40px;
    font-weight: 900;
    margin: 0 70px;
    color: black;
}

.homepage-nav__wds-logo_darkScheme {
    font-size: 40px;
    font-weight: 900;
    margin: 0 70px;
    color: white;
}

.homepage-nav__links {
    display: flex;
    flex-direction: row;
    width: 365px;
    justify-content: space-between;
}

.homepage-nav__href {
    font-family: 'Open Sans';
    font-size: 14px;
    text-decoration: none;
    color: #7f8c8d;
}
