@import './homepage/banner';
@import './homepage/navbar';
@import './homepage/contentInfoBox';
@import './homepage/contentClients';
@import './homepage/footer';

body {
    width: 1260px;
    margin: 0;
    padding: 0;
}

#root {
    width: 1260px;
    margin: 0;
    padding: 0;
    font-family: Lato, 'Open Sans';
}
