@import 'components/banner';
@import 'components/navbar';
@import 'components/homepage/contentInfoBox';
@import 'components/homepage/contentClients';
@import 'components/footer';

body {
    margin: 0;
    padding: 0;
}

#root {
    margin: 0;
    padding: 0;
    font-family: Lato, 'Open Sans';
}
