.banner {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 605px;
  background-color: #2f3030;
  color: white;
  padding: 0 150px; }
  .banner .banner-text {
    text-align: center;
    margin-top: 140px; }
    .banner .banner-text > p {
      margin: 17px 0;
      font-size: 16px; }
    .banner .banner-text h1 {
      font-size: 50px;
      margin: 15px 0; }
    .banner .banner-text .banner-text-dots {
      font-weight: 200; }
      .banner .banner-text .banner-text-dots:after, .banner .banner-text .banner-text-dots:before {
        content: '\2022';
        font-size: 18px;
        margin: 0 12px;
        color: #979898; }
  .banner .banner-text-lines {
    font-weight: 200;
    vertical-align: middle; }
  .banner .svg-lines {
    width: 100px;
    margin: 0 20px;
    padding: 4px 0;
    height: 4px; }
  .banner .banner-href-wrapper {
    margin: 60px 0 180px; }
    .banner .banner-href-wrapper .btn-checkout-work {
      height: 50px;
      width: 240px;
      border: 1px solid #979898;
      color: white;
      background: transparent;
      word-spacing: 1px;
      font: 100 14px Lato;
      font-stretch: expanded;
      text-decoration: none; }
      .banner .banner-href-wrapper .btn-checkout-work:hover, .banner .banner-href-wrapper .btn-checkout-work:active, .banner .banner-href-wrapper .btn-checkout-work:visited, .banner .banner-href-wrapper .btn-checkout-work:focus {
        color: white; }

.homepage-nav_light {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 110px;
  padding: 0 150px;
  background: white; }

.homepage-nav_dark {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0 150px;
  background: black; }

.wds-logo_light-scheme {
  font-size: 40px;
  font-weight: 900;
  margin: 0 70px;
  color: black; }

.wds-logo_dark-scheme {
  font-size: 40px;
  font-weight: 900;
  margin: 0 70px;
  color: white; }

.homepage-nav-wrapper {
  display: flex;
  flex-direction: row;
  width: 365px;
  justify-content: space-between; }

.homepage-nav-href {
  font-family: 'Open Sans';
  font-size: 14px;
  text-decoration: none;
  color: #7f8c8d; }

.content__info-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 435px;
  background-image: url("./images/background/HomePage_Content_Background.png");
  padding: 0 150px; }

.content__text-wrapper_marginTop50 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 775px;
  height: 100%;
  margin-top: 50px; }
  .content__text-wrapper_marginTop50 hr {
    width: 150px;
    border: none;
    border-top: 1px solid #a5a8a9;
    color: #a5a8a9; }

.content__text-heading {
  font-family: Lato;
  font-size: 44px;
  font-weight: 300; }

.content__text-desc {
  color: #606060;
  text-align: center;
  line-height: 1.5em; }

.info-box__icons-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 85px 0 65px; }

.info-box__icon-href {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Open Sans';
  color: black;
  fill: black;
  fill-rule: evenodd;
  text-decoration: none;
  transition: all 0.2s linear;
  margin: 0 30px; }
  .info-box__icon-href svg {
    margin-bottom: 25px; }
  .info-box__icon-href:hover, .info-box__icon-href:active, .info-box__icon-href:focus {
    transform: scale(1.2);
    color: #2980b9;
    fill: #2980b9;
    outline: none; }

.info-box__icon-href_active {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2980b9;
  fill: #2980b9;
  fill-rule: evenodd;
  text-decoration: none;
  transform: scale(1.2); }

.content__clients {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 465px;
  background-color: white;
  padding: 0 150px; }

.content__text-wrapper_marginTop70 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 775px;
  height: 100%;
  margin-top: 70px; }
  .content__text-wrapper_marginTop70 hr {
    width: 150px;
    border: none;
    border-top: 1px solid #a5a8a9;
    color: #a5a8a9; }

.clients__logos-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 65px 0 95px; }
  .clients__logos-wrapper .clients__arrow {
    background: none;
    border: none;
    outline: none;
    cursor: pointer; }
    .clients__logos-wrapper .clients__arrow svg {
      fill: black;
      transition: all 0.2s linear; }
      .clients__logos-wrapper .clients__arrow svg:hover {
        fill: #2980b9; }

.footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 150px;
  background-color: black;
  flex-shrink: 0; }

.footer__contacts a {
  margin-right: 20px; }

.footer__credits {
  font-family: 'Open Sans';
  font-size: 12px;
  color: #606060;
  text-align: right; }

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 150px 30px; }

.services__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  height: 160px; }
  .services__info hr {
    width: 150px;
    border: none;
    border-top: 1px solid #a5a8a9;
    color: #a5a8a9; }

.services__grid {
  box-sizing: border-box;
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 50% 50%;
  background-color: white;
  margin-top: 50px; }

.services__element {
  display: flex;
  margin-bottom: 50px; }
  .services__element .services__element-image {
    margin-right: 15px; }
  .services__element .services__title {
    color: black;
    font-family: Lato;
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 10px; }
  .services__element .services__description {
    line-height: 1.5em;
    color: #606060;
    font-family: 'Open Sans';
    font-size: 14px;
    margin: 0 0 10px 2px; }
  .services__element .services__learn-more {
    color: #606060;
    font-family: 'Open Sans';
    font-size: 14px;
    text-decoration: underline;
    margin: 0 0 0 2px; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: Lato, 'Open Sans'; }

.wrapper {
  flex: 1 0 auto; }
