.homepage-nav {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 110px;
    padding: 0 150px;

    .wds-logo {
        font-size: 40px;
        font-weight: 900;
        margin: 0 70px;
    }

    .homepage-nav-wrapper {
        display: flex;
        flex-direction: row;
        width: 365px;
        justify-content: space-between;
    }

    .homepage-nav-href {
        font-family: 'Open Sans';
        font-size: 14px;
        text-decoration: none;
        color: #7f8c8d;
    }
}
