.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 150px 30px;
}

.services__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    height: 160px;

    hr {
        width: 150px;
        height: 1px;
        color: #a5a8a9;
    }
}

.services__grid {
    box-sizing: border-box;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 50% 50%;
    background-color: white;
    margin-top: 50px;
}

.services__element {
    display: flex;
    margin-bottom: 50px;

    .services__element-image {
        margin-right: 15px;
    }

    .services__title {
        color: black;
        font-family: Lato;
        font-weight: 500;
        font-size: 20px;
        margin: 0 0 10px;
    }

    .services__description {
        line-height: 1.5em;
        color: #606060;
        font-family: 'Open Sans';
        font-size: 14px;
        margin: 0 0 10px 2px;
    }

    .services__learn-more {
        color: #606060;
        font-family: 'Open Sans';
        font-size: 14px;
        text-decoration: underline;
        margin: 0 0 0 2px;
    }
}
