.services {
    background-color: white;
}

.services__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 0 30px;
}

.services__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 155px;

    hr {
        width: 150px;
        border: none;
        border-top: 1px solid #a5a8a9;
        color: #a5a8a9;
    }
}

.services__text-heading {
    font-family: Lato;
    font-size: 44px;
    font-weight: 300;
    margin-bottom: 20px;
}

.services__text-desc {
    font-family: "Open Sans";
    font-size: 14px;
    color: #606060;
    text-align: center;
    line-height: 1.6em;
    margin-top: 25px;
    padding: 0 90px;
}

.services__grid {
    box-sizing: border-box;
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: 460px 460px;
    background-color: white;
    margin-top: 55px;
}

.services__element {
    display: flex;
    margin-bottom: 45px;

    .services__element-image {
        margin-top: 5px;
        margin-right: 17px;
    }

    .services__title {
        color: black;
        font-family: Lato;
        font-weight: 500;
        font-size: 20px;
        margin: 0 0 10px;
    }

    .services__description {
        line-height: 1.6em;
        color: #606060;
        font-family: 'Open Sans';
        font-size: 14px;
        margin: 0 0 10px 2px;
    }

    .services__learn-more {
        color: #606060;
        font-family: 'Open Sans';
        font-size: 14px;
        text-decoration: underline;
        margin: 0 0 0 2px;
    }
}
