.our-team {
    background-color: white;
}

.our-team__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 0 10px;
}

.our-team__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 155px;

    hr {
        width: 150px;
        border: none;
        border-top: 1px solid #a5a8a9;
        color: #a5a8a9;
    }
}

.our-team__text-heading {
    font-family: Lato;
    font-size: 44px;
    font-weight: 300;
    margin-bottom: 20px;
}

.our-team__text-desc {
    font-family: "Open Sans";
    font-size: 14px;
    color: #606060;
    text-align: center;
    line-height: 1.6em;
    margin-top: 25px;
    padding: 0 100px;
}

.our-team__grid {
    display: grid;
    grid-template-columns: 225px 225px 225px 225px;
    grid-column-gap: 20px;
    margin-top: 60px;
}

.our-team__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.our-team__photo {
    width: 100%;
}

.our-team__name {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 500;
    margin: 15px 0 10px;
}

.our-team__member-desc {
    font-family: "Open Sans";
    font-size: 12px;
    text-align: center;
    margin-bottom: 25px;
    line-height: 1.5em;
    color: #606060;
}

.our-team__member-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 114px;
}